/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Spectral+SC:200&display=swap');

body {
  background-color: #303030;
  color: white;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
}

mat-icon {
  cursor: pointer;
}
.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.5em 0 0.5em 0 !important;
}
.mat-form-field-appearance-outline .mat-form-field-flex {
  align-items: center;
}
.mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0 !important;
  padding-bottom: 0 !important;
}
.mat-drawer-inner-container {
  width: 89.5vw !important;
}
