.episode {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  &__video {
    width: 70vw;
    margin: 32px 0;

    @media only screen and (max-width: 768px) {
      margin: 16px 0;
      width: calc(100vw - 32px);
    }

    @media only screen and (max-width: 1440px) {
      width: 75vw;
    }
  }
  &__label {
    flex: 0 0 100%;
    margin: 0;
    margin-bottom: 16px;
    text-align: center;
  }

  &__buttons {
    flex: 0 0 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__button {
    &--margin-top {
      margin-top: 16px;
    }
  }
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 80vh;
}
