<div class="episode" *ngIf="episode">
  <div class="episode__buttons">
    <button
      mat-button
      class="episode__button episode__button--margin-top"
      (click)="goBack()"
      title="Voltar"
    >
      <mat-icon mat-mini-fab>keyboard_arrow_left</mat-icon>
      Voltar para listagem de animes
    </button>
  </div>
  <video class="episode__video" controls [src]="episode.main"></video>
  <h4 class="episode__label" [innerText]="episode.mainLabel"></h4>
  <div class="episode__buttons">
    <button
      mat-button
      class="episode__button"
      *ngFor="let page of episode.pageControl"
      (click)="goToEpisode(page)"
    >
      <span *ngIf="page.type === 'next'">Próximo episódio</span>
      <mat-icon mat-mini-fab *ngIf="page.type === 'next'"
        >keyboard_arrow_right</mat-icon
      >
      <mat-icon mat-mini-fab *ngIf="page.type !== 'next'"
        >keyboard_arrow_left</mat-icon
      >
      <span *ngIf="page.type !== 'next'">Episódio anterior</span>
    </button>
  </div>
</div>

<div class="spinner" *ngIf="!episode">
  <mat-progress-spinner
    class="spinner__loader"
    color="primary"
    mode="indeterminate"
  >
  </mat-progress-spinner>
</div>
