<mat-toolbar color="grey">
  <mat-toolbar-row class="main-row">
    <button type="button" mat-mini-fab  (click)="drawer.toggle()">
      <mat-icon class="example-icon" aria-hidden="false">menu</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <mat-icon  mat-mini-fab  class="example-icon" aria-hidden="false">person</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
  </mat-drawer>

  <div class="example-sidenav-content">
    <saikou-animes></saikou-animes>
  </div>

</mat-drawer-container>
