.list-container {
  &__container {
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  &__content {
    height: 100%;
  }
  &__sidenav {
    padding: 20px;

    @media only screen and (max-width: 768px) {
      padding: 0;
    }
  }
}

.main-row {
  padding: 0 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media only screen and (max-width: 768px) {
    padding: 0;
  }

  &__menu-logo {
    flex: 0 0 30%;
  }
  &__link {
    color: white;
    text-decoration: none;
  }
  &__field {
    flex: 1;
    mat-form-field {
      width: 100%;
    }
  }
  &__user-info {
    flex: 0 0 30%;
    button {
      float: right;
    }
  }
}
.spacer {
  flex: 1 1 auto;
}
