<mat-toolbar color="grey">
  <mat-toolbar-row class="main-row">
    <div class="main-row__menu-logo">
      <button type="button" mat-icon-button (click)="drawer.toggle()">
        <mat-icon mat-mini-fab aria-hidden="false">menu</mat-icon>
      </button>
      <a class="main-row__link" [routerLink]="['animes']">
        Saikou Animes</a>
    </div>
    <div class="main-row__user-info">
      <button type="button" mat-icon-button>
        <mat-icon aria-hidden="false">person</mat-icon>
      </button>
      <button type="button" mat-icon-button>
        <mat-icon mat-mini-fab aria-hidden="false">search</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container class="list-container" autosize>
  <mat-drawer #drawer class="list-container__sidenav" mode="side">
    <p>Animes</p>
    <p>Categorias</p>
    <p>Suporte</p>
  </mat-drawer>

  <div class="list-container__content">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
