.list-container {
  min-height: 89.5vh;
  &__search {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__loader {
    margin: 32px 0;
  }
  &--margin {
    margin: 32px 64px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;

    @media only screen and (max-width: 768px) {
      margin: 16px;
    }
  }
  &__container {
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  &__content {
    height: 100%;
  }
  &__sidenav {
    // min-height: 400px;
    padding: 16px 64px;

    @media only screen and (max-width: 768px) {
      padding: 0 16px;
    }
  }
  &__cards {
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 0 0 100%;
  }
  &__card {
    flex: 0 0 19%;

    @media only screen and (max-width: 768px) {
      flex: 0 0 100%;
    }
  }
  &__list {
  }
  &__item {
    cursor: pointer;
    &:hover {
      border: 1px solid #716f6f73;
      border-radius: 4px;
      box-sizing: border-box;
    }
  }
}
.card {
  margin-bottom: 16px;
  padding: 0;
  cursor: pointer;
  transition: 300ms;

  &:hover {
    box-sizing: content-box;
    border: 1px solid rgb(185, 185, 185);
    -webkit-box-shadow: -1px 3px 20px -10px rgba(185, 185, 185, 0.75) !important;
    -moz-box-shadow: -1px 3px 20px -10px rgba(185, 185, 185, 0.75) !important;
    box-shadow: -1px 3px 20px -10px rgba(185, 185, 185, 0.75) !important;
  }

  &__banner {
    width: 100%;
    height: 250px;
    margin: 0 !important;
  }

  &__content {
    padding: 16px;
  }
}

.main-row {
  padding: 0 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media only screen and (max-width: 768px) {
    padding: 16px;
  }

  &__menu-logo {
    flex: 0 0 30%;
    display: flex;
    align-items: center;
  }
  &__link {
    color: white;
    text-decoration: none;
  }
  &__field {
    flex: 1;
    mat-form-field {
      width: 100%;
    }
  }
  &__search-action {
    flex: 0 0 30%;
    button {
      float: right;
    }
  }

  &__search-box {
    flex: 0 0 100%;

    @media only screen and (max-width: 768px) {
      overflow: hidden;
    }
  }
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex: 0 0 94%;

    @media only screen and (max-width: 768px) {
      flex: 0 0 88%;
    }
  }
  &__field {
    height: 32px;
    border-radius: 4px;
    border: 0;
    padding: 2px 16px;
    font-size: 16px;
    flex: 1 1 auto;
    background-color: #303030;
    color: white;
    &:focus {
      outline: none;
    }
  }

  &__close {
    flex: 0 0 5%;

    @media only screen and (max-width: 768px) {
      flex: 1;
    }
  }
}
.spacer {
  flex: 1 1 auto;
}
