.example-container {
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.main-row{
  padding: 0 64px;
}

.example-sidenav-content {
  //   display: flex;
  height: 100%;
  //   align-items: center;
  //   justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
