.details {
  display: flex;
  align-items: center;
  // justify-content: center;
  flex-wrap: wrap;
  min-height: 90vh;
  padding: 0 64px;
  margin-bottom: 32px;

  @media only screen and (max-width: 768px) {
    padding: 0 16px;
  }

  &__button{
    margin-top: 16px;
  }

  &__content {
    flex: 0 0 100%;
  }

  &__episodes {
    flex: 0 0 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__title {
    text-align: center;
  }
  &__banner {
    height: 250px;

    @media only screen and (max-width: 768px) {
      height: unset;
      flex: 1 1 auto;
    }
  }
  &__extra-info {
    margin-top: 8px;
  }
  &__header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    line-height: 3;
  }
  &__about {
    margin-left: 16px;

    @media only screen and (max-width: 425px) {
      margin-left: 0;
    }
  }
}
.episode {
  flex: 0 0 20%;
  margin-bottom: 16px;
  cursor: pointer;
  transition: 300ms;

  &:hover {
    box-sizing: content-box;
    border: 1px solid rgb(185, 185, 185);
    -webkit-box-shadow: -1px 3px 20px -10px rgba(185, 185, 185, 0.75) !important;
    -moz-box-shadow: -1px 3px 20px -10px rgba(185, 185, 185, 0.75) !important;
    box-shadow: -1px 3px 20px -10px rgba(185, 185, 185, 0.75) !important;
  }
  @media only screen and (max-width: 768px) {
    flex: 0 0 100%;
  }
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__has_hd {
    color: gold;
  }
}
