<div class="details">
  <!-- <pre>
    {{ details | json }}
  </pre> -->
  <div class="details__content" *ngIf="details">
    <h3 class="details__title" [innerText]="details.title"></h3>

    <img class="details__banner" [src]="details.image" [alt]="details.title">
    <div class="details__extra-info">
      <small><strong>Sinopse: </strong></small>
      <p [innerText]="details.description"> </p>
    </div>
  </div>
  <div class="details__episodes" *ngIf="epiObject">
    <mat-card class="details__episode episode" *ngFor="let epi of epiObject.episodes"
    (click)="goToVideo(epi)"


    >
      <img class="episode__banner" mat-card-image [src]="epi.image" [alt]="epi.title" />
      <mat-card-content class="episode__content">
        <span class="episode__title" [innerText]="epi.title"></span>
        <span class="episode__has_hd" *ngIf="epi.has_hd">HD</span>
      </mat-card-content>
    </mat-card>
  </div>
  <mat-progress-spinner class="details__loader" color="primary" mode="indeterminate" *ngIf="!details || !epiObject">
  </mat-progress-spinner>
</div>
