.support {
  margin: 32px 64px;

  @media only screen and (max-width: 768px) {
    margin: 16px;
  }
  &__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__field {
    flex: 0 0 100%;
    &--half-size-field {
      flex: 0 0 48%;
    }
  }

  &__button {
    flex: 0 0 100%;
    &--float-right {
      float: right;
    }
    &--margin-top {
      margin-top: 2em;
    }
  }

  &__send-email {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__message {
    flex: 0 0 100%;
    text-align: center;
  }
}
