<section class="galery">
  <div class="galery__buttons" *ngIf="pager">
    <button mat-stroked-button [color]="selectedPage == page ? 'warn': ''" class="galery__button"
      *ngFor="let page of pager.pages" (click)="getNextPage(page)">
      {{page}}
    </button>
  </div>
  <div class="galery__cards" *ngIf="filteredList">
    <mat-card class="galery__card card" *ngFor="let anime of filteredList" (click)="goToDetail(anime.hash)">
      <img class="card__banner" mat-card-image [src]="anime.cover" [alt]="anime.title" />
      <mat-card-content class="card__content">
        <h3 class="card__title" [innerText]="anime.title + ' - ' + anime.type"></h3>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="galery__buttons" *ngIf="pager">
    <button mat-stroked-button [color]="selectedPage == page ? 'warn': ''" class="galery__button"
      *ngFor="let page of pager.pages" (click)="getNextPage(page)">
      {{page}}
    </button>
  </div>
  <mat-progress-spinner class="galery__loader" color="primary" mode="indeterminate" *ngIf="isLoading">
  </mat-progress-spinner>
</section>
