<section class="galery" *ngIf="response">

  <div class="galery__cards">
    <mat-card class="galery__card card" *ngFor="let anime of response.animes">
      <img class="card__banner" mat-card-image [src]="anime.src" [alt]="anime.title" />
      <mat-card-content>
        <p class="card__title" [innerText]="anime.title"></p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="galery__buttons" *ngIf="response.nextPage">
    <button mat-raised-button color="primary" class="galery__button" *ngIf="!isLoading"
      (click)="getNextPage(response.nextPage)">
      Ver mais
    </button>
    <mat-progress-spinner class="galery__loader"  color="primary" mode="indeterminate" *ngIf="isLoading">
    </mat-progress-spinner>
  </div>
</section>
