.galery {
  margin: 32px 64px;

  &__cards {
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__card {
    flex: 0 0 15%;
    // border: 1px solid #c4c4c4;
    // border-radius: 10px;
    // -webkit-box-shadow: -1px 3px 20px -10px rgba(0, 0, 0, 0.75);
    // -moz-box-shadow: -1px 3px 20px -10px rgba(0, 0, 0, 0.75);
    // box-shadow: -1px 3px 20px -10px rgba(0, 0, 0, 0.75);

    @media only screen and (max-width: 768px) {
      flex: 0 0 100%;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
  }

  //   &__button {}
}

.card {
  margin-bottom: 16px;
  cursor: pointer;
  transition: 300ms;

  &:hover {
box-sizing: content-box;
    border: 1px solid rgb(185, 185, 185);
    -webkit-box-shadow:  -1px 3px 20px -10px rgba(185, 185, 185, 0.75) !important;
    -moz-box-shadow:  -1px 3px 20px -10px rgba(185, 185, 185, 0.75) !important;
    box-shadow:  -1px 3px 20px -10px rgba(185, 185, 185, 0.75) !important;
  }

  &__banner {
    // width: 100%;
    // border-top-left-radius: 10px;
    // border-top-right-radius: 10px;
  }

  &__title {
    padding: 8px;
  }
}
